<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="configuration" name="UI Configuration for DaoJones" schema="schema/configuration.exsd"/>
   <extension-point id="databasePathEditors" name="Database Path Editors" schema="schema/databasePathEditors.exsd"/>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="de.ars.daojones.internal.integration.eclipse.preferences.pages.CategoryPage"
            id="de.ars.daojones.integration.eclipse.preferences.pages.category"
            name="%preferences.pages.category.title">
      </page>
      <page
            category="de.ars.daojones.integration.eclipse.preferences.pages.category"
            class="de.ars.daojones.internal.integration.eclipse.preferences.pages.ConnectionFactoriesPage"
            id="de.ars.daojones.integration.eclipse.preferences.pages.connectionfactories"
            name="%preferences.pages.connectionfactories.title">
      </page>
      <page
            category="de.ars.daojones.integration.eclipse.preferences.pages.category"
            class="de.ars.daojones.internal.integration.eclipse.preferences.pages.ConnectionsPage"
            id="de.ars.daojones.integration.eclipse.preferences.pages.connections"
            name="%preferences.pages.connections.title">
      </page>
   </extension>
</plugin>
