<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension-point id="connections" name="Connections Configuration Point" schema="schema/connections.exsd"/>
   <extension-point id="connectionfactories" name="Connection Factory Configuration" schema="schema/connection.factories.exsd"/>
   <extension-point id="connectioncredentials" name="Connection Credential Configuration" schema="schema/connection.credentials.exsd"/>
   <extension
         point="org.eclipse.core.expressions.definitions">
      <definition
            id="de.ars.daojones.eclipse.definitions.nature.enabled">
            
                              <or>
                     <adapt
                           type="org.eclipse.core.resources.IProject">
           <test
                 property="org.eclipse.core.resources.projectNature"
                 value="de.ars.daojones.eclipse.nature">
           </test>
                     </adapt>
           <and>
              <instanceof
                    value="org.eclipse.core.resources.IProject">
              </instanceof>
              <test
                    property="org.eclipse.core.resources.projectNature"
                    value="de.ars.daojones.eclipse.nature">
              </test>
           </and>
                  </or>
      </definition>
   </extension>
   <extension
         point="org.eclipse.core.contenttype.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.xml"
            default-charset="UTF-8"
            describer="de.ars.daojones.eclipse.connections.ConnectionsFileDescriber"
            file-extensions="xml"
            file-names="connections.xml"
            id="de.ars.daojones.eclipse.contentType.xml.connection"
            name="Connection Configuration"
            priority="high">
      </content-type>
   </extension>
</plugin>
