<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.jdt.ui.javaElementFilters">
      <filter
            class="de.ars.daojones.eclipse.jdt.ui.NatureArtifactFilter"
            description="Hides artifacts that are created when adding the DaoJones facet to a Java Project."
            enabled="true"
            id="de.ars.daojones.eclipse.ui.destinationFolderFilter"
            name="DaoJones Artifacts"
            targetId="org.eclipse.jdt.ui.PackageExplorer">
      </filter>
   </extension>
   <extension
         point="org.eclipse.jdt.ui.quickFixProcessors">
      <quickFixProcessor
            class="de.ars.daojones.eclipse.jdt.ui.markers.handler.AbstractMethodInNonAbstractBeanSolutionGenerator"
            id="de.ars.daojones.eclipse.jdt.ui.quickFixProcessor.abstractMethodInNotAbstractBean"
            name="AbstractMethodInNotAbstractBeanQuickfixProcessor">
         <handledMarkerTypes>
            <markerType
                  id="de.ars.daojones.eclipse.jdt.markers.unimplementedMethodInConcreteBean">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
      <quickFixProcessor
            class="de.ars.daojones.eclipse.jdt.ui.markers.handler.DoubledAnnotedMethodSolutionGenerator"
            id="de.ars.daojones.eclipse.jdt.ui.quickFixProcessor.doubledAnnotatedMethod"
            name="DoubledAnnotatedMethodProcessor">
         <handledMarkerTypes>
            <markerType
                  id="de.ars.daojones.eclipse.jdt.markers.doubledAnnotatedMethod">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
      <quickFixProcessor
            class="de.ars.daojones.eclipse.jdt.ui.markers.handler.InvalidMethodFormatSolutionGenerator"
            id="de.ars.daojones.eclipse.jdt.ui.quickFixProcessor.invalidMethodFormatProcessor"
            name="Invalid Method Format Processor">
         <handledMarkerTypes>
            <markerType
                  id="de.ars.daojones.eclipse.jdt.markers.invalidGetterSetterFormatMarker">
            </markerType>
            <markerType
                  id="de.ars.daojones.eclipse.jdt.markers.nonAbstractMethodMarker">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
      <quickFixProcessor
            class="de.ars.daojones.eclipse.jdt.ui.markers.handler.InvalidTypeHierarchySolutionGenerator"
            id="de.ars.daojones.eclipse.jdt.ui.quickFixProcessor.invalidTypeHierarchyProcessor"
            name="Invalid Type Hierarchy Processor">
         <handledMarkerTypes>
            <markerType
                  id="de.ars.daojones.eclipse.jdt.markers.invalidTypeHierarchyMarker">
            </markerType>
         </handledMarkerTypes>
      </quickFixProcessor>
   </extension>
   <extension
         point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
            class="de.ars.daojones.eclipse.jdt.ui.markers.handler.AbstractMethodInNonAbstractBeanSolutionGenerator"
            markerType="de.ars.daojones.eclipse.jdt.markers.unimplementedMethodInConcreteBean">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="de.ars.daojones.eclipse.jdt.ui.markers.handler.DoubledAnnotedMethodSolutionGenerator"
            markerType="de.ars.daojones.eclipse.jdt.markers.doubledAnnotatedMethod">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="de.ars.daojones.eclipse.jdt.ui.markers.handler.InvalidMethodFormatSolutionGenerator"
            markerType="de.ars.daojones.eclipse.jdt.markers.invalidGetterSetterFormatMarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="de.ars.daojones.eclipse.jdt.ui.markers.handler.InvalidMethodFormatSolutionGenerator"
            markerType="de.ars.daojones.eclipse.jdt.markers.invalidGetterSetterFormatMarker">
      </markerResolutionGenerator>
      <markerResolutionGenerator
            class="de.ars.daojones.eclipse.jdt.ui.markers.handler.InvalidTypeHierarchySolutionGenerator"
            markerType="de.ars.daojones.eclipse.jdt.markers.invalidTypeHierarchyMarker">
      </markerResolutionGenerator>
   </extension>
<!--
   <extension
         id="de.ars.daojones.eclipse.jdt.ui.newWizards"
         name="DaoJones New Wizards"
         point="org.eclipse.ui.newWizards">
      <wizard
            category="de.ars.daojones.eclipse.ui.category"
            class="de.ars.daojones.eclipse.jdt.ui.wizards.NewBeanWizard"
            hasPages="true"
            icon="platform:plugin/org.eclipse.jdt.ui/icons/full/etool16/newclass_wiz.gif"
            id="de.ars.daojones.eclipse.jdt.ui.wizards.newBean"
            name="DaoJones Bean"
            preferredPerspectives="org.eclipse.jdt.ui.JavaPerspective"
            project="false">
      </wizard>
   </extension>
-->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="de.ars.daojones.eclipse.ui.preferences"
            class="de.ars.daojones.eclipse.jdt.ui.preferences.WorkbenchPreferencesJavaSettings"
            id="de.ars.daojones.eclipse.jdt.ui.preferences.workbench.page.javaSettings"
            name="Java Settings">
      </page>
      <page
            category="de.ars.daojones.eclipse.ui.preferences"
            class="de.ars.daojones.eclipse.jdt.ui.preferences.WorkbenchPreferencesWorkbench"
            id="de.ars.daojones.eclipse.jdt.ui.preferences.workbench.page-workbench"
            name="Workbench">
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            category="de.ars.daojones.eclipse.ui.project.properties"
            class="de.ars.daojones.eclipse.jdt.ui.preferences.ProjectJavaPropertiesPage"
            id="de.ars.daojones.eclipse.jdt.ui.properties.javaPage"
            name="Java Settings">
         <enabledWhen>
            <reference
                  definitionId="de.ars.daojones.eclipse.jdt.definitions.nature.enabled">
            </reference>
         </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="de.ars.daojones.eclipse.jdt.ui.preferences.PreferencesInitializer">
      </initializer>
   </extension>
   <extension
         point="de.ars.equinox.utilities.bridges">
      <bridge
            class="de.ars.daojones.eclipse.jdt.ui.editor.connection.JdtJavaElementProvider"
            id="de.ars.eclipse.ui.util.IJavaElementProvider"
            priority="7">
      </bridge>
   </extension>
   <extension
         id="de.ars.daojones.eclipse.ui"
         point="org.eclipse.ui.console.consoleFactories">
      <consoleFactory
            class="de.ars.daojones.eclipse.jdt.ui.console.BeanBuilderConsoleFactory"
            icon="icons/chart_line.png"
            label="DaoJones Bean Builder">
      </consoleFactory>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="de.ars.daojones.eclipse.jdt.ui.categories.daojones"
            name="DaoJones">
      </category>
      <command
            categoryId="de.ars.daojones.eclipse.jdt.ui.categories.daojones"
            description="Enables the DaoJones Nature for this project."
            id="de.ars.daojones.eclipse.jdt.ui.commands.enableNature"
            name="Enable DaoJones Project Nature">
      </command>
      <command
            categoryId="de.ars.daojones.eclipse.jdt.ui.categories.daojones"
            description="Disables the DaoJones Nature for this project."
            id="de.ars.daojones.eclipse.jdt.ui.commands.disableNature"
            name="Disable DaoJones Project Nature">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="de.ars.daojones.eclipse.jdt.ui.handler.ToggleNatureHandler"
            commandId="de.ars.daojones.eclipse.jdt.ui.commands.enableNature">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <and>
                     <reference
                           definitionId="org.eclipse.jdt.core.definitions.nature.enabled">
                     </reference>
                     <not>
                        <reference
                              definitionId="de.ars.daojones.eclipse.jdt.definitions.nature.enabled">
                        </reference>
                     </not>
                  </and>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
      <handler
            class="de.ars.daojones.eclipse.jdt.ui.handler.ToggleNatureHandler"
            commandId="de.ars.daojones.eclipse.jdt.ui.commands.disableNature">
         <enabledWhen>
            <with
                  variable="selection">
               <iterate
                     ifEmpty="false"
                     operator="and">
                  <reference
                        definitionId="de.ars.daojones.eclipse.jdt.definitions.nature.enabled">
                  </reference>
               </iterate>
            </with>
         </enabledWhen>
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <menu
               icon="platform:plugin/de.ars.daojones.eclipse.ui/icons/chart_line.png"
               id="de.ars.daojones.jdt.ui"
               label="DaoJones">
            <command
                  commandId="de.ars.daojones.eclipse.jdt.ui.commands.enableNature">
               <visibleWhen>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <and>
                           <reference
                                 definitionId="org.eclipse.jdt.core.definitions.nature.enabled">
                           </reference>
                           <not>
                              <reference
                                    definitionId="de.ars.daojones.eclipse.jdt.definitions.nature.enabled">
                              </reference>
                           </not>
                        </and>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
            <command
                  commandId="de.ars.daojones.eclipse.jdt.ui.commands.disableNature">
               <visibleWhen>
                  <with
                        variable="selection">
                     <iterate
                           ifEmpty="false"
                           operator="and">
                        <reference
                              definitionId="de.ars.daojones.eclipse.jdt.definitions.nature.enabled">
                        </reference>
                     </iterate>
                  </with>
               </visibleWhen>
            </command>
         </menu>
      </menuContribution>
   </extension>
   <extension
         point="de.ars.daojones.eclipse.ui.connectionsfileprovider">
      <provider
            class="de.ars.daojones.eclipse.jdt.ui.editor.connection.ConnectionsFileProvider">
      </provider>
   </extension>
</plugin>
